*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***CONFIGURAÇÕES DO DESTAQUE***/

#destaque{
    width: 100vw;
    height: 50vh;
    background-color: #959595;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.container-informacoes{
    margin-bottom: 25px;
    background-color: #C4C4C4;
    width: 90%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.informacoes{
    display: flex;
    align-items: center;
    width: 30%;
    height: 70%;
    background-color: #5B5959;
}

.botao{
    width: 15%;
    height: 20%;
    background-color: #5B5959;
}


/***CONFIGURAÇÕES DAS STREAMINGS***/

#streamings{
    width: 100vw;
    height: 30vh;
    background-color: #5B5959;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titulo-secao{
    width: 100%;
    height: 15%;
    background-color: #959595;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-streamings{
    width: 70%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: #C4C4C4;
}

.card-streaming{
    width: 14%;
    height: 70%;
    display: grid;
    background-color: aquamarine;
   
}

.fundo-imagem{
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 5px;
}

.container-imagem{
    border-radius: 5px;
    position: absolute;
    margin: 11px;
    width: 10%;
    height: 14%;
    background-color: cadetblue;
}

.imagem{
    width: 100%;
    height: 100%;
}


/***CONFIGURAÇÕES DOS FILMES***/

#filmes{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
}

.container-filmes{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #5B5959;
}

.card-filme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 15px;
    width: 25%;
    height: 70%;
    
}

.imagem-filme{
    width: 100%;
    height: 85%;
    
}

.container-titulo{
    width: 100%;
    height: 26px;
    overflow: hidden;
    background-color: aqua;
}


.titulo-filme{
    font-size: 1.5rem;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
}


